/* main-sec1 開始 */
.store-sec1 h2{
    padding-left: 16px;
    border-left: 8px solid #9F1213;
}
.store-sec1 label{
    font-size: 24px;
    margin-right: 16px;
}
.store-sec1 select option{
    font-size: 30px;
}
/* main-sec1 結束 */


/* main-sec2 開始 */


/* main-sec2 結束 */